@font-face {
    font-family: 'MB Corpo S Text';
    src: url('MBCorpoSText-Regular.woff2') format('woff2'),
        url('MBCorpoSText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MB Corpo A Screen2 Cond';
    src: url('MBCorpoAScreen2Cond-Regular.woff2') format('woff2'),
        url('MBCorpoAScreen2Cond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

